/* Importa uma fonte personalizada do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset básico para remover margens, padding e ajustar box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define variáveis de CSS para cores, fontes e outros estilos reutilizáveis */
:root {
    --borderTable: #3E0F12;
    --primary-color: #BF6D24;
    --primary-color-1: #9D5719;
    --secondary-color: #261816;
    --segundary-color-1: #181818;
    --bloquinho: #FFEBDF;
    --botao: #7E4D23;
    --corLabeleTable: #3E0F12;
    --backInput: #F2F2F2;
    --error-color: #e74c3c;
    --success-color: #2ecc71;
    --font-family: 'Poppins', sans-serif;
    --headertext: #FFFFFF;
    --borda: #A66B38;
    --hoverInput: #bf6c2492;
    --hoverBorda: #cf9b6d;
    --backTable: #754E48;
}

/* Estilo global para o corpo da página */
body {
    height: 100vh;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    background: url(img-e-video/backgroundPC.png);
    background-repeat: repeat;
    background-size: cover; /* Cobre toda a área da tela */
    background-position: center; /* Centraliza a imagem */
}

/* Estilo do cabeçalho */
header img {
    height: 90%;
    margin-left: 30px;
}

header {
    display: flex;
    background-color: var(--segundary-color-1);
    width: 100%;
    height: 80px;
    align-items: center;
    opacity: 90%;
}

/* Estilo para título dentro do cabeçalho */
h1 {
    color: var(--headertext);
    margin-left: 50px;
    font-size: 1.5em;
    width: 450px;
}

/* Contêiner centralizado para conteúdos */
.container {
    width: 900px;
    justify-self: center;
    margin-top: 3%;
}

/* Estilo para subtítulos */
h2 {
    color: var(--secondary-color);
    margin-bottom: 20px;
    text-align: center;
    margin-top: 15px;
    width: 100%;
    height: 20px;
}

/* Estilo de formulários */
form {
    background-color: var(--bloquinho);
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    border: solid var(--borda);
    opacity: 90%;
}

/* Estilo para rótulos em formulários */
label {
    color: var(--corLabeleTable);
    font-size: 1.5rem;
    margin-top: 40px;
    margin-left: 100px;
    font-weight: 600;
}

/* Estilo para campos de entrada de texto e senha */
input[type="text"],
input[type="password"] {
    width: 400px;
    height: 50px;
    border-radius: 7px;
    margin-left: 250px;
    padding: 7px;
    margin-top: -40px;
    background-color: var(--backInput);
    border: solid var(--borda);
    font-size: 16px;
}

/* Placeholder nos campos */
input::placeholder {
    color: #181818;
    font-weight: 400;
}

/* Botão de envio */
button[type="submit"] {
    background-color: var(--botao);
    height: 50px;
    width: 150px;
    margin-left: 350px;
    margin-top: 50px;
    border-radius: 7px;
    border: solid var(--primary-color-1);
    color: var(--headertext);
    font-size: 21px;
    cursor: pointer;
    font-weight: bold;
    opacity: 100%;
    transition: 0.3s ease;
}

/* Estilo ao passar o mouse no botão */
button[type="submit"]:hover {
    background-color: var(--primary-color);
    border: solid var(--hoverBorda);
}

/* Estilo geral para tabelas */
table {
    border-collapse: collapse; /* Remove espaçamento entre células */
    font-size: 18px;
}

th, td {
    border: solid 5px var(--borderTable);
    padding: 5px;
}

th {
    color: var(--headertext);
    background-color: var(--backTable);
}

td {
    background-color: var(--backInput);
}

/* Media queries para ajustar estilos em dispositivos menores */
@media (max-width: 768px) {
    .container {
        width: 500px;
    }

    input[type="text"],
    input[type="password"] {
        width: 300px;
        margin-left: 100px;
    }

    button[type="submit"] {
        margin-left: 160px;
    }
}

@media (max-width: 480px) {
    body {
        background-image: url(img-e-video/backgroundMBL.jpg);
    }

    .container {
        width: 300px;
    }

    input[type="text"],
    input[type="password"] {
        width: 200px;
        margin-left: 70px;
    }
}
